:root {
    --Bg: #fcf8de;
    --P1: #685414;
    --P2: #685414;
    --P3: #685414;
    --fontfamily: Verdana, Helvetica, sans-serif;
}
body {
    font-family: var(--fontfamily);
    background: var(--Bg);

}

.container {
  width: 100%;
  max-width: 760px; 
  margin-left: auto; 
  margin-right: auto; 
  padding-left: 20px; 
  padding-right: 20px; 
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
  .container {
    padding-left: 5px; 
    padding-right: 5px;
  }
}

.line {
    margin: 8px 4px 8px 4px;
    border: 1.5px solid #000000;
    border-radius: 1px;
}

/* <----- section 1 -----> */

.section-1 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    margin: 10px;
    padding: 15px;
    border: 3px solid #000000;
    border-radius: 10px;
    background: linear-gradient(180deg, rgba(101,129,83,1) 70%, rgba(245,237,234,1) 70%);
}

.s11 {
    width: auto;
    border: 2px solid #ffffff;
    border-radius: 6px;
    padding: 10px;
}

.s11 a {
    font-size: 2vmin;
    text-align: left ;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffffff;
    padding: 10px;
    text-decoration: underline;
}

.s12, .s13 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.s12 {
    height: auto;
}

.s121 {
    padding: 20px;
    text-align: center;
    font-size: 5.3vmin;
    font-weight: bold;
    text-transform: uppercase;
    color: #000000;
}

.s13 {
    justify-content: flex-start;
    gap: 10px;
}

.s131, .s132 {
    padding: 5px;
    font-size: 2vmin;
    text-decoration: underline 2px solid #ffbd23;
    border: 2px solid #000000;
    border-radius: 6px;
}

.s131 {
    width: 55%;

}

.s132 {
    display: flex;
    justify-content: center;
    width: 20em;
    color: #ffffff;
    background: rgb(101,129,83);  
}
.s132 a {
    padding-right: 4px;
    font-size: 2vmin;
}



/* <----- section 2 -----> */

.section-2 {
    font-size: small;
    display: flex;
    flex-direction: row;
}

.s21 {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    overflow: scroll;
}

.s22 {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
}

@media screen and (max-width: 728px) {
    .section-2 {
        flex-direction: column-reverse;
    }
    .s22 {
        flex-direction: row;
    }
}

.s21, .s221, .s222 {
    margin: 8px;
    border: 3px solid #000000;
    border-radius: 6px;
}

.s221 {
    flex-basis: 60%;
    text-align: center;
    padding: 4vmin;
}

.s222 {
    display: flex;
justify-content: center;
    flex-basis: 20%;
}

.s222 img {
    padding: 5px;
    max-width: 80px;
    border-radius: 10px;
}

.card {
    display: flex;
    align-items: center;
    margin: 5px;
    padding: 2px 15px;
    height: 40px;
    border: 3px solid #000000;
    border-radius: 6px;
    color: #ffffff;
    text-decoration: underline;
    background: rgb(101,129,83);
}

/* section-3 */


.section-3 {
    text-align: center;
    margin: 10px;
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 728px) {
    .section-3 {
        flex-direction: column;
    }
}

.s31 {
    flex-basis: 50%;
    background: rgb(101,129,83);
    border: 3px solid #000000;
    border-radius: 6px;
    height: max-content;
}

.s32 {
    padding-top: 10px;
    flex-basis: 50%;
    font-size: 2vmin;
}

.s31 .line {
    border-color: #ffffff;
}

.sun-container {
    gap: 25px;
    display: flex;
    justify-content: center;
}

.sun-container svg {
    animation: spin 20s linear infinite;
  }
    
  @keyframes spin { 100% {
    transform: rotate(360deg);
}}

.custom-cursor {
    z-index: 1;
    position: fixed;
    top: -50px;
    left: -50px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-image: url('pp.jpeg');
    background-size: cover;
    background-position: center;
    pointer-events: none;
    transition: transform 0.2s ease-out;
  }
  
  .dan {
    display: none;
    position: relative;
    padding: 5px;
    top: -30px;
    left: 20px;
    width: max-content;
    font-size: 2vmin;
    border: 1px solid #000000;
    border-radius: 5px;
    background-color: #ffb300;
    transition: transform 0.2s ease-in;
  }

  .container {
    display: none;
  }

#intro {
    display: block;
    position: fixed;
    top: 40%;
    left: 45%; 
  }

  #intro svg {
    animation: spin 20s linear infinite;
  }
